@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat&family=PT+Mono&family=Share+Tech+Mono&family=Inconsolata&display=swap');

:root {
    --main-color: #16151A;
    --secondary-color: #FCFCFA;
    --tertiary-color: #232227;
    --fourth-color: #ababab;
}

* {
    border-style: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;

    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

/*------------------- HEADER------------------- */

nav {
    display: flex;
    padding: 0.25em;
    text-align: center;

    background-color: grey;
    color: white;

    border-radius: 2rem 2rem 5px 5px;
}

nav li {
    margin: 0 15px;
}

nav div {
    margin: 0 auto;
}

h1, h2 {
    display: inline;
    font-weight: normal;
}

h2 {
    font-size: 20px;
}

header {
    text-align: center;
    padding: 1em 0;
}

ul {
    padding: 0;
    text-align: center;
}

.nav-list {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

/*------------------- SECTIONS -----------------------*/
#about, #skills, #contact {
    padding: 0 50px;
    margin: 50px 0;
}

/*-------------------  ABOUT -------------------*/
.terminal {
    font-family: 'Inconsolata', monospace;
    min-height: 50px;
    transition: min-height 5s;
}

.expanded {
    min-height: 260px;
}

#skip {
    text-decoration: underline;
}

.divider {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 40%;
}

/*------------------- SKILLS -------------------------*/
.frameworks .icon {
    width: 65px;
}

.icon.language {
    width: 25px;
    height: 25px;
    margin-right: 0px;
    margin-top: 17px;
}

ul {
    list-style-type: none;
    vertical-align: top;
    padding: 0;
}

.frameworks {
    display: flex;
    justify-content: space-evenly;
}

#skills h4, .language > * {
    display: inline-block;
}

.language {
    display: flex;
    justify-content: center;
}

hr {
    margin: 20px 0;
}

/*------------------ CAROUSEL ---------------------*/
.display {
    transition: left 1.5s;

    transform: translateX(-50%);

    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
        
    text-align: center;
    font-size: 2rem;

    box-sizing: border-box;

    width: 100%;

    justify-content: flex-start;
}

.display div {
    border-radius: 1em;
}

.front-end {
    font-family: 'Megrim', cursive;
    left: -50%;

    background-color: rgba(255, 255, 255, 0.5)
}

.back-end {
    font-family: 'Share Tech Mono', monospace;
    left: 100%;

    transform: translateY(10rem);

    background-color: rgba(0, 0, 0, 0.9);
    color: white;

    top: -160px;
    position: absolute;

    height: 100%;
}

.back-end .project-img {
    box-shadow: 0 0 20px;
}

.project {
    margin-bottom: 40px;
}

.back-end .project:last-of-type {
    margin-top: 100px;
}

.front-end.featured {
    left: 50%;
}

.back-end.featured {
    left: 0;
}

.carousel {
    overflow: hidden;

    position: relative;

    height: calc(fit-content/2);

    display: flex;
    flex-direction: column;

    box-shadow: 10px 15px 20px;
}

.carousel-title {
    margin-top: 4rem;
}

.carousel-body {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.carousel-arrow {
    width: 5%;
    height: 10rem;
    /* background: rgba(100, 0, 255, 0.2); */
    position: absolute;
    /* transform: translateY(-10rem); */
    margin: 0 10%;

    display: flex;
}

.carousel-arrow.right {
    right: 0;
}

.carousel-arrow.left {
    transform: rotate(180deg);
    filter: invert(0.95);
}

.icon {
    width: 50px;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

/* ------------ projects ---------------- */

.project {
    height: fit-content;
}

.project-img {
    width: 75%;
    border-radius: 1rem;
    box-shadow: 5px 10px 15px;
}

h4 {
    font-size: 1.5rem;
    margin: 1rem;
}

/*---------- CONTACT ------------------*/
#contact {
 text-align: center;
}

#contact div {
    display: flex;
    justify-content: space-around;
}

#contact a {
    font-weight: bold;
}

/* floating toolbar */
.toolbar {
    position: fixed;
    right: 2%;
    top: 25px;
    font-size: 72%;
}

.toolbar > * {
    width: 40px;
}

/*------------- MEDIA QUERIES (large screens) ------------------*/
@media (min-width: 700px) {
    h1 {
        font-size: 4rem;
    }
}

@media (min-width: 450px) {
    h3 {
        font-size: 2rem;
    }
}
2%